<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置mybatis的log实现为LOG4J -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
      <!--<setting name="autoMappingBehavior" value="FULL"/>-->
    </settings>
    <!--配置别名  特别注意是别名只对mapper文件生效-->
    <typeAliases>
       <!-- <typeAlias type="cn.bdqn.pojo.User" alias="user"/>-->
        <package name="cn.smbms.pojo"/>
    </typeAliases>
</configuration>








